/* TV/WIDE */
@media (max-width: 1600px) and (min-width: 1201px) {
	.manga-image img {
		width: 1200px;
	}
}

/* Dekstop */
@media (max-width: 1200px) and (min-width: 1024px) {
	.manga-image img {
		width: 1000px;
	}
}

/* Laptop */
@media (max-width: 1023px) and (min-width: 769px) {
	.manga-image img {
		width: 900px;
	}
}

/* Tablet */
@media (max-width: 768px) and (min-width: 481px) {
	.manga-image img {
		width: 100%;
	}

	.mlist.card {
		width: 20rem;
		height: 30rem;
	}

	#navigation .content {
		text-align: center;
		max-width: 100%;
	}
}

/* Mobile */
@media (max-width: 480px) and (min-width: 320px) {
	.manga-image img {
		width: 100%;
	}

	.mlist.card {
		width: 20rem;
		height: auto;
	}

	#navigation .content {
		text-align: center;
		max-width: 100%;
	}

	#navigation .navButton a {
		display: block;
		width: 150px;
		line-height: 50px;
	}

	#back-to-top {
		font-size: 10px;
		padding: 3px 7px;
	}
}
