/* Latihan Navbar Buat Manga */
#navigation {
	width: 100%;
	padding-inline: 15px;
	border-bottom: 1px solid grey;
	margin-top: 15px;
}

#navigation .content {
	display: flex;
	flex-direction: column;
	max-width: fit-content;
}

#navigation .content a {
	color: orange;
}

#navigation .navButton {
	margin-top: 15px;
	display: flex;
	justify-content: space-between;
	/* background-color: black; */
	margin-bottom: 15px;
}

#navigation .navButton a {
	text-align: center;
	display: block;
	width: 200px;
	line-height: 50px;
	border-radius: 10px;
	background-color: lightblue;
}
