* {
	padding: 0;
	margin: 0;
	list-style-type: none;
	text-decoration: none;
	color: white;
	box-sizing: border-box;
}
a {
	text-decoration: none;
	color: black;
}

.no-click {
	pointer-events: none;
}

.navbar-brand {
	font-weight: 700;
}

.cover {
	width: 250px;
}
